.battleLog {
    width: 300px;
    max-height: 150px;
    min-height: 100px;
    color: white;
    background-color: rgb(0 0 0 / 70%);
    overflow-y: auto;
    border: 2px solid #333;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    margin-bottom: 15px;

    .hitMessage {
        margin: 5px 0;
        padding: 3px;
        background-color: rgb(255 255 255 / 10%);
        border-radius: 3px;
        text-align: center;
        font-weight: bold;
        animation: var(--fade-in-animation, fade-in) 0.3s ease-in-out;
    }
}
