.button {
    font-family: Triodion, sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.1s ease-in-out;
}

.button:active {
    transform: scale(0.9);
}

/* 🟥 Красная кнопка "Back" */
.back {
    color: var(--primary-color);
    background: var(--background-color-dark-red);
    margin-top: 5px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 20px;
}

.back:hover {
    background: var(--background-color-dark-red-hover);
}

/* 🟩 Кнопка для арены */
.arena {
    color: var(--white-text-color);
    background: var(--background-color-button-gray);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.arena:hover {
    background: var(--background-color-button-gray-hover);
}

/* 🟦 Кнопка-иконка */
.icon {
    background: none;
    padding: 5px;
}

.icon:active {
    transform: scale(0.85);
}

.icon:disabled {
    background: var(--background-color-button-gray);
    transform: none;
}

/* 🟡 Желтая рамка, если кнопка выбрана */
.selected {
    border: 3px solid var(--primary-color);
}

/* ⬆️ Кнопка для хидера */
.header {
    color: var(--white-text-color);
    background: rgb(0 0 0 / 50%);
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: rgb(0 0 0 / 80%);
    }
}
