.blockArenaContainer {
     display: var(--flex-display);
     justify-content: var(--justify-content-by-width);
     align-items: var(--align-items-center);
     gap: 10px;
     padding: 0 5px;
     color: #ecec8d;
}
