.arenaPVPItemContainer {
    display: var( --flex-display);
    flex-direction: var(--flex-direction-by-height);

    .playersContainer {
        display: var( --flex-display);
        justify-content: var(--justify-content-by-width);
        align-items: var(--align-items-center);
    }
}
