.pageWrapperContainer {
    display: var(--flex-display);
    flex-direction: var(--flex-direction-by-height);
    justify-content: var(--justify-content-center);
    align-items: var(--align-items-center);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 18px;

    .audioButton {
        position: absolute;
        top: 10px;
        right: 20px;
        color: var(--white-text-color);
        background: rgb(0 0 0 / 50%);
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
    }

    .audioButton:hover {
        background: rgb(0 0 0 / 80%);
    }
}
