.pageWrapperContainer {
    display: var(--flex-display);
    flex-direction: var(--flex-direction-by-height);
    justify-content: var(--justify-content-center);
    align-items: var(--align-items-center);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
